@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  /* font-size: 10px = 1rem*/
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #333;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 40rem;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 0 1rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 3s;
        animation-iteration-count: 3; */ }
  .heading-primary--sub {
    display: inline-block;
    font-size: 2rem;
    font-weight: 70rem;
    letter-spacing: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0 1rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 2px;
  display: inline-block; }

.heading-tertiary {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 70rem;
  letter-spacing: 1rem;
  background-color: #333;
  color: #fff;
  padding: 0 1rem;
  margin-bottom: 4rem; }

.text-main {
  font-size: 2.2rem;
  color: #333; }

.button:link, .button:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  padding: 1.5rem 2rem;
  transition: all .2s; }

.button:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2); }
  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2); }

.button--yellow {
  background-color: #fee333;
  color: #fff; }
  .button--yellow:hover {
    background-color: #fcdb07; }

.button--white {
  background-color: #fff;
  color: #333; }

.section-about__button {
  margin: 0 auto;
  padding: 2rem 0;
  display: inline-block; }

.card__button {
  text-align: center;
  padding: 2rem 0;
  display: inline-block; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 500px; }
  .card__side {
    height: 500px;
    width: 100%;
    font-size: 2rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(51, 51, 51, 0.15); }
    .card__side--front {
      background: #fff;
      position: relative; }
    .card__side--back {
      background: #fee333;
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__img {
    background-size: cover;
    height: 100%; }
    .card__img--1 {
      background-image: url(../img/cross-bite.png);
      background-position: center; }
    .card__img--2 {
      background-image: url(../img/in-a-pinch.png); }
    .card__img--3 {
      background-image: url(../img/simpsons-game.png);
      background-position: center; }
  .card__heading {
    width: 100%;
    height: 35%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    background-color: #fee333; }
    .card__heading--odd {
      -webkit-clip-path: polygon(0 0, 100% 44%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 44%, 100% 100%, 0% 100%); }
    .card__heading--even {
      -webkit-clip-path: polygon(0 44%, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 44%, 100% 0, 100% 100%, 0% 100%);
      text-align: right; }
  .card__description {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem; }

.icon {
  display: inline-block;
  margin: 2rem 3rem;
  transition: all .2s;
  color: #333;
  font-size: 3.3rem; }
  .icon:hover {
    color: #fff; }

.social-link:link, .social-link:visited {
  color: inherit; }

.header {
  height: 80vh; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 50%; }
    @media (max-width: 56.25em) {
      .header__text-box {
        top: 55%;
        width: 40%; } }
    @media (max-width: 37.5em) {
      .header__text-box {
        width: 40%;
        font-size: 2.8rem; } }
  @media (max-width: 56.25em) {
    .header {
      height: 80vh; } }

.header__polygon {
  height: 100%;
  background-color: #fee333;
  -webkit-clip-path: polygon(0 0, 38% 0, 45% 100%, 0% 100%);
  clip-path: polygon(0 0, 38% 0, 45% 100%, 0% 100%);
  z-index: -1; }
  @media (max-width: 37.5em) {
    .header__polygon {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }

.header__picture__box {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%); }
  @media (max-width: 56.25em) {
    .header__picture__box {
      top: 35%;
      left: 35%;
      width: 45%; } }

.header__picture__image {
  -webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 60% 0, 60% 14%, 100% 14%, 100% 85%, 100% 100%, 85% 100%, 32% 100%, 32% 85%, 0% 85%);
  clip-path: polygon(0% 15%, 0 0, 15% 0%, 60% 0, 60% 14%, 100% 14%, 100% 85%, 100% 100%, 85% 100%, 32% 100%, 32% 85%, 0% 85%);
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.row {
  max-width: 100vw;
  color: #333; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    height: 100%; }
  .row .col-1-of-2 {
    width: calc(100% / 2); }
  .row .col-1-of-2-with-gutter {
    width: calc((100% - 3 * 10rem) / 2);
    margin-right: 10rem; }
    .row .col-1-of-2-with-gutter:not(:last-child) {
      margin-left: 10rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 10rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 10rem) / 3) + 10rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 10rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 10rem) / 4) + 10rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 10rem) / 4) +   2 * 10rem); }

nav {
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 3; }
  @media (max-width: 56.25em) {
    nav {
      width: 100%;
      top: 0; } }

.nav {
  list-style: none;
  display: flex;
  flex-direction: row; }
  .nav li {
    margin-right: 3rem; }
    .nav li:not(:last-child) a:link,
    .nav li:not(:last-child) a:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300;
      color: #777;
      font-size: 2rem; }
    @media (max-width: 56.25em) {
      .nav li {
        margin: 2rem 0; } }
  @media (max-width: 56.25em) {
    .nav {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none;
      margin-top: -6.5rem; }
      .nav.toggle-show {
        display: flex;
        background: #fee333;
        box-shadow: 0 4px 10px -2px rgba(51, 51, 51, 0.15); } }
  .nav__button--toggle {
    font-size: 2.5rem;
    display: none; }
    @media (max-width: 56.25em) {
      .nav__button--toggle {
        margin-top: 2rem;
        margin-left: 3rem;
        display: inline-block;
        cursor: pointer; } }

.section-about {
  padding: 10rem;
  text-align: center; }
  .section-about__text {
    font-size: 3rem;
    color: #333;
    margin-bottom: 3rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 10rem 5rem; } }

.section-skills {
  height: 45vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  color: #333;
  margin-bottom: 6rem; }
  .section-skills--yellow {
    width: 50%;
    background-color: #fee333;
    -webkit-clip-path: polygon(7% 0, 100% 0, 100% 100%, 19% 100%);
    clip-path: polygon(7% 0, 100% 0, 100% 100%, 19% 100%); }
  @media (max-width: 56.25em) {
    .section-skills {
      height: auto;
      padding: 2rem 0; } }
  .section-skills .skills-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .section-skills .devicon {
    font-size: 3rem;
    color: #fcdb07; }
  .section-skills h3 {
    margin-bottom: 2rem; }
  .section-skills .table-skills {
    font-size: 2rem;
    width: 100%;
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .section-skills .table-skills div {
      margin: 0.8rem 1.5rem; }

.section-projects {
  margin-bottom: 10rem; }
  @media (max-width: 56.25em) {
    .section-projects {
      margin-bottom: 5rem; } }
  .section-projects .project-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 6rem 0; }
    @media (max-width: 56.25em) {
      .section-projects .project-row {
        flex-direction: column;
        align-items: center;
        margin: 0; } }
  .section-projects .card-box {
    width: 40%; }
    @media (max-width: 56.25em) {
      .section-projects .card-box {
        width: 80%;
        margin: 4rem 0; } }

.section-contact {
  height: 60vh;
  background-color: #fee333;
  -webkit-clip-path: polygon(50% 25%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 20%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  text-align: right;
  position: relative; }
  .section-contact .section-contact__text {
    margin: 2rem 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .section-contact .section-contact__text .email {
      font-size: 2.8rem;
      font-weight: 700;
      transition: all .2s; }
      .section-contact .section-contact__text .email:link, .section-contact .section-contact__text .email:visited {
        color: inherit; }
      .section-contact .section-contact__text .email:hover {
        color: #fff; }
    @media (max-width: 56.25em) {
      .section-contact .section-contact__text {
        width: 70%; } }
  .section-contact .section-contact__icons {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .section-contact .section-contact__icons .social-link:link, .section-contact .section-contact__icons .social-link:visited {
      color: inherit; }
    @media (max-width: 56.25em) {
      .section-contact .section-contact__icons .social-link {
        font-size: 4rem; } }
    @media (max-width: 56.25em) {
      .section-contact .section-contact__icons {
        justify-content: center; } }
