@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin style-link-text($color) {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    color: $color;
    font-size: 2rem;
}

@mixin remove-default-link-style {
    &:link,
    &:visited {
        color: inherit;
    }
}

@mixin respond($breakpoint){
   @if($breakpoint) == small-phone {
       @media (max-width: 28.75em) {@content}; // 460px
   } 
   @if($breakpoint) == phone {
       @media (max-width: 37.5em) {@content}; // 600px
   } 
   @if($breakpoint) == tab-port {
       @media (max-width: 56.25em) {@content}; // 900px
   } 
   @if($breakpoint) == tab-land {
       @media (max-width: 75em) {@content}; // 1200px
   } 
   // everything in between - normal styling
   @if($breakpoint) == large-desktop {
       @media (min-width: 112.5em) {@content}; // 1800px
   } 
   @if($breakpoint) == all-but-phone {
       @media (min-width: 37.5em) {@content}; // 600px
   } 
}

@mixin box-shadow {
    box-shadow: 0 2px 10px -2px rgba($color-black, .15);
}

@mixin transform-translate5050 {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}