@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin style-link-text($color) {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    color: $color;
    font-size: 2rem;
}

@mixin remove-default-link-style {
    &:link,
    &:visited {
        color: inherit;
    }
}