.header {
    height: 80vh;

    &__text-box {
        position: absolute;
        top: 40%;
        left: 70%;
        @include transform-translate5050;
        width: 50%;

        @include respond(tab-port) {
            top: 50%;
            width: 40%
        }

        @include respond(phone) {
            width: 40%;
            top: 340px;
            font-size: 2rem;
        }

        @include respond(small-phone) {
            top: 340px;
            left: 60%;
            font-size: 1rem;
            width: 42%;
        } 
    }

    @include respond(tab-port) {
        height: 80vh;
    }

    @include respond(phone) {
        height: 500px; 
    }
}

.header__polygon {
    height: 100%;
    background-color: $color-primary;
    -webkit-clip-path: polygon(0 0, 38% 0, 45% 100%, 0% 100%);
    clip-path: polygon(0 0, 38% 0, 45% 100%, 0% 100%);
    z-index: -1;

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.header__picture__box {
    position: absolute;
        top: 40%;
        left: 35%;
        @include transform-translate5050;

        @include respond(tab-port) {
            top: 35%;
            left: 35%;
            width: 45%;
        }

        @include respond(phone) {
            top: 32%;
        }

        @include respond(small-phone) {
            top: 200px;
            left: 37%;
        } 
}

.header__picture__image {
    -webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 60% 0, 60% 14%, 100% 14%, 100% 85%, 100% 100%, 85% 100%, 32% 100%, 32% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 60% 0, 60% 14%, 100% 14%, 100% 85%, 100% 100%, 85% 100%, 32% 100%, 32% 85%, 0% 85%);
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;

    @include respond(phone) {
       width: 280px;     
    }

    @include respond(small-phone) {
        width: 220px; 
    } 
}