.card {
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
    perspective: 150rem;
    position: relative;
    height: 500px;
    
    &__side {
        height: 500px;
        width: 100%;
        font-size: 2rem;
        -webkit-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-perspective: 0;
        -webkit-backface-visibility: hidden;
        visibility:visible;
        backface-visibility: hidden;
        -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background: $color-white;
            position: relative;
        }

        &--back {
            background: $color-primary;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);

            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }

// .card:hover .card__side - when hover card effect occur
        &:hover &__side--front,
        &:active &__side--front {
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
        }

        &:hover &__side--back,
        &:active &__side--back {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
        }    

    // FRONT SIDE STYLING
    &__img {
        background-size: cover;
        height: 100%;

        &--1 {
            background-image: url(../img/get-the-gist.png);
        }
        &--2 {
            background-image: url(../img/cross-bite.png);
            background-position: center;
        }
        &--3 {
            background-image: url(../img/in-a-pinch.png);
        }
        &--4 {
            background-image: url(../img/simpsons-game.png);
            background-position: center;
        }
    }

    &__heading {
        width: 100%;
        height: 35%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 5rem 3rem;
        background-color: $color-primary; 

        &--odd {
            -webkit-clip-path: polygon(calc(0% - 1px) 0, calc(100% + 1px) 44%, calc(100% + 1px) calc(100% + 1px), calc(0% - 1px) calc(100% + 1px));
            clip-path: polygon(calc(0% - 1px) 0, calc(100% + 1px) 44%, calc(100% + 1px) calc(100% + 1px), calc(0% - 1px) calc(100% + 1px));
        }

        &--even {
            -webkit-clip-path: polygon(0 44%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(calc(0% - 1px) 44%, calc(100% + 1px) 0, calc(100% + 1px) 100%, calc(0% - 1px) 100%);
            text-align: right;
        }

        span {
            display: block;
            font-weight: 300;
        }
    }

    // BACK SIDE STYLING
    &__description {
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
        padding: 2rem;
        margin-bottom: 2rem;
    }
}
