body {
    font-family: 'Lato', sans-serif;
    /* font-size: 10px = 1rem*/
    font-weight: 400;
    line-height: 1.7;
    color: $color-dark-grey;
}

.heading-primary {
    color: $color-black;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &--main {
        display: inline-block;
        font-size: 3.5rem;
        letter-spacing: 1rem;
        margin-bottom: 1rem;
        background-color: $color-white;
        padding: 0 1rem;
        -webkit-animation-name: moveInRight;
        animation-name: moveInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        /* animation-delay: 3s;
        animation-iteration-count: 3; */

        @include respond(phone) {
            font-size: 2rem;
        }
    }
    &--sub {
        display: inline-block;
        font-size: 2rem;
        letter-spacing: 1rem;
        background-color: $color-black;
        color: $color-white;
        padding: 0 1rem;
        -webkit-animation: moveInRight 1s ease-out;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            font-size: 1.5rem;
        }
    }
}

.heading-secondary {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 2px;
    display: inline-block;
}

.heading-tertiary {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 70rem;
    letter-spacing: 1rem;
    background-color: $color-black;
    color: $color-white;
    padding: 0 1rem;
    margin-bottom: 4rem;
}

.text-main {
    font-size: 2.2rem;
    color: $color-black;
}