.section-about {
    padding: 10rem;
    text-align: center;
    &__text {
        font-size: 3rem;
        color: $color-black;
        margin-bottom: 3rem;
    }
}

.section-skills {
    height: 45vh;
    text-align: center;
    &--yellow {
        background-color: $color-primary;
        clip-path: polygon(7% 0, 100% 0, 100% 100%, 19% 100%);
    }
    
    .skills-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .devicon {
        font-size: 3rem;
        color: $color-primary-dark;
    }

    h3 {
        margin-bottom: 2rem;
    }

    .table-skills {
        font-size: 2rem;
        width: 100%;
        margin-left: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        div {
            margin: 0.8rem 1.5rem;
        }
    }
}

.section-projects {
    margin-bottom: 10rem;

    // &>.heading-tertiary {
    //     margin-bottom: 10rem;
    // }
}
// .section-projects__row {
//     height: 30vh;
//     margin-bottom: 4rem;
//     .border {
//         border: .3rem solid $color-black;
//     }
// }

.project-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 6rem 0;
}
.card-box {
    width: 40%;
}



.section-contact {
    height: 60vh;
    background-color: $color-primary; 
    -webkit-clip-path: polygon(50% 25%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 20%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    text-align: right;
    position: relative;

    .section-contact__text {
        margin: 2rem 0;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
        

        .email {
            @include remove-default-link-style; 
            font-size: 2.8rem;
            font-weight: 700;
            transition: all .2s;
            &:hover {
                color: $color-white;
            }
            
        }
    }

    .section-contact__icons {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .social-link {
            @include remove-default-link-style; 
        }
        
    }
}